header {
  height: 90vh;
  background-color: #333;
  color: #fff;
  font-size: 50px;
  display: grid;
  letter-spacing: 0.05em;
  place-items: center;
}

main {
    width: min(1000px, 95%);
    margin: 100px  auto;
}

section {
    padding: 30px;
    background-color: #ddd;
    min-height: 500px;
    border-radius: 10px;
}

section + section {
    margin-top: 30px
}

section h2 {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid currentColor;
    padding-bottom: 10px;
}